@import "tailwindcss" prefix(fwui);
@source "../src";

@theme {
  --color-light: var(--light-color, #ffffff);
  --color-border: var(--secondary-color-l3, #eeeeee);
  --color-input: var(--secondary-color-l3, #eeeeee);
  --color-ring: var(--primary-color-l1, #5795eb);
  --color-background: var(--background-color, #ffffff);
  --color-foreground: var(--secondary-color, #515151);

  --color-primary: var(--primary-color, #2e7ae7);
  --color-primary-foreground: var(--primary-contrast-color, #f8fafc);

  --color-secondary: var(--secondary-color, #515151);
  --color-secondary-foreground: var(--secondary-contrast-color, #f8fafc);

  --color-destructive: var(--error-color, #d50000);
  --color-destructive-foreground: var(--error-contrast-color, #f8fafc);

  --color-muted: var(--secondary-color-l4, #f8f8f8);
  --color-muted-foreground: var(--secondary-color, #515151);

  --color-accent: var(--secondary-color-l4, #f8f8f8);
  --color-accent-foreground: var(--secondary-color, #515151);

  --color-popover: var(--background-color, #ffffff);
  --color-popover-foreground: var(--secondary-color, #515151);

  --color-card: var(--background-color, #ffffff);
  --color-card-foreground: var(--secondary-color, #515151);

  --radius-lg: var(--border-radius, 0.5rem);
  --radius-md: calc(var(--border-radius, 0.5rem) - 2px);
  --radius-sm: calc(var(--border-radius, 0.5rem) - 4px);
}
